@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Noto+Sans+KR:wght@400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
background-color: #3874ba;
}

#centerContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    width: 1280px;
}

header {
    width: 1080px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}


header ul {
    width: 100px;
    height: 200px;
    list-style: none;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
}

header ul li {
    text-align: center;
}

header ul li a {
    text-decoration: none;
    color:#ee75c2;
    width: 110px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
    padding: 0px 20px;
}

header ul li a:hover {
    color:#8fcf9a;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
}

.main-img {
    width: 1280px;
    height: 905px;
}

.textbox {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.readingText{
    font-family: 'NotoSansKR';
    font-weight: 400; 
    font-size: 15px;
    text-align: center;
}

footer {
    width: 100%;
    height: 200px;
    background-color:#ee75c2;
    display: flex;
    justify-content: center;
}

#footerCenter{
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
}

footer ul li a {
    text-decoration: none;
    color:#8fcf9a;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 25px;
}

footer ul li a:hover {
    color:#3874ba;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 25px;
}